<div class="team-builder">
  <div>
    <div class="hire-new">
      <button (click)="hireNew()">Hire a new Manager</button>
    </div>

    <div class="hire-new">
      <button (click)="hireNew()">Hire a new Supervisor</button>
    </div>

    <div class="hire-new">
      <button (click)="hireNew()">Hire a new Cook</button>
    </div>

    <div class="hire-new">
      <button (click)="hireNew()">Hire a new Service Crew</button>
    </div>

    <div class="hire-new">
      <button (click)="hireNew()">Hire a new Cashier</button>
    </div>
  </div>
  <div>
    @for (member of members; track member) {
      <div class="member-profile">
        <img src="{{ member.avatar }}" alt-="member.fullName" />
        <pre>
Name: <strong>{{ member.firstName }} "{{ member.alias }}" {{ member.lastName }}</strong>
Age: <strong>{{ member.age }}</strong>
Email: <strong>{{ member.email }}</strong>
Birthdate: <strong>{{ member.birthdate }}</strong>
      </pre>
      </div>
    }
  </div>
</div>
